# top-most EditorConfig file
root = true
# Unix-style newlines with a newline ending every file
[*]
# lf, cr, or crlf
end_of_line = lf
# ensure file ends with a newline when saving
insert_final_newline = true
